---
import "../../styles/global.css";
import Hero from "../../components/Hero.astro";
import ModsSection from "../../components/ModsSection.astro";
import AppsSection from "../../components/AppsSection.astro";
import ContactSection from "../../components/ContactSection.astro";
import Footer from "../../components/Footer.astro";
import { getLangFromUrl } from '../../i18n/utils';
import LanguagePicker from "../../components/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
---
<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wipodev - Portfolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <LanguagePicker />
  <Hero />
  <main>
    <ModsSection />
    <AppsSection />
    <ContactSection />
  </main>
  <Footer />
</body>
</html>
