---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import OtherProjectsSection from "../components/OtherProjectsSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wipodev - Portafolio de Mods</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <Hero />
  <main>
    <ProjectsSection />
    <OtherProjectsSection />
    <ContactSection />
  </main>
  <Footer />
</body>
</html>
