:root {
  --primary-color: #ff7800;
  --second-color: #002a8d;
  --bg-color: #eae6df;
  --black-color: #1e1e20;
  --vp-c-bg: var(--bg-color);
  --vp-c-bg-soft-down: #aca793;
  --vp-c-brand: var(--primary-color);
  --vp-home-hero-name-color: var(--primary-color);
  --vp-button-brand-border: var(--second-color);
  --vp-button-brand-text: var(--second-color);
  --vp-button-brand-hover-border: var(--primary-color);
  --vp-button-brand-hover-text: var(--primary-color);
  --vp-button-brand-hover-bg: var(--second-color);
}

.dark {
  --vp-c-bg: var(--black-color);
  --vp-c-bg-soft-down: var(--black-color);
}

.VPImage.logo {
  height: 44px;
}