---
import { useTranslations } from '../i18n/utils';
import { defaultLang } from "../i18n/ui";
import CustomButton from './CustomButton.astro';

const locale = Astro.currentLocale || defaultLang;
const t = useTranslations(locale);
---

<main class="main-contact">
  <h1>{t("contact.title")}</h1>
  <p class="subtitle">{t("contact.prompt")}</p>
  <form class="contact-form">
    <input type="text" placeholder={t("contact.name")} />
    <input type="email" placeholder={t("contact.email")} />
    <textarea rows="4" placeholder={t("contact.message")}></textarea>
    <CustomButton type="submit" label={t("contact.send")} />
  </form>
  <div class="social-links">
    <a href="https://github.com/wipodev" target="_blank" title="GitHub">
      <img src="https://cdn.simpleicons.org/github/00ffcc" alt="GitHub" />
    </a>
    <a href="https://discord.gg/dznFddZN" target="_blank" title="Discord">
      <img src="https://cdn.simpleicons.org/discord/00ffcc" alt="Discord" />
    </a>
    <a href="https://t.me/wipodev_bot" target="_blank" title="Telegram">
      <img src="https://cdn.simpleicons.org/telegram/00ffcc" alt="Telegram" />
    </a>
  </div>
</main>

<style>
  .main-contact {
    min-height: calc(100vh - 20px - 6rem);
    padding: 8rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0a0a0a;
  }

  h1 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    color: #00ffc6;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 800px;
    color: #cafff5;
    opacity: 0.8;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
    align-items: center;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background: #111;
    color: #00ffcc;
    width: 100%;
  }
  .social-links {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
  }
  .social-links img {
    width: 32px;
    height: 32px;
  }
</style>
