---
import useTranslation from "astro-i18next";
const { t } = await useTranslation();
---
<footer>
  <p>{t("footer.copyright")}</p>
</footer>
<style>
footer {
  text-align: center;
  padding: 3rem 1rem;
  color: #888;
}
</style>
